@import "tailwindcss";

.card {
  background: rgba(170, 170, 170, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.no-scroll {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.no-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
